@import './styles/colors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg-color;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    color: $bg-header;
    background-image: linear-gradient(to bottom, $bg-color, #AFC8AD);
}
.app{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


